.bluebutton{
    background-color: rgb(127, 127, 219);
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 6px 15px;
    transition: 0.7s;
}

.bluebutton:hover{
    background-color: rgb(98, 98, 160);
    transition: 0.7s;
    cursor: pointer;
}

.bluebutton:disabled{
    background-color: rgb(97, 97, 119);
    cursor: default;
}